<a href="https://colab.research.google.com/github/tcelia/Code-Templates/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
data

   Country Speak English?  Population
0      USA            Yes       328.2
1   Canada            Yes        37.6
2    Italy             No        60.4
3  Germany             No        83.0
4      USA            Yes       328.2
5  England            Yes         NaN
6     None             No        65.3

In [ ]:
#get generic info
print(data.info())
#number of rows
print(len(data))
#number of columns
print(len(data.columns))
#max of a column
print(data['Population'].max())
#min of a column
print(data['Population'].min())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         6 non-null      object
 1   Speak English?  7 non-null      object
 2   Population      6 non-null      float64
dtypes: float64(1), object(2)
memory usage: 296.0+ bytes
None
7
3
328.2
37.6

In [ ]:
#loop through all columns
data = pd.DataFrame({'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3],'Population1':[1328.2, 237.6, 360.4, 483.0, 5328.2,None, 65.3]})
for x in data.columns:
  print("Max of "+ x +" is " + str(data[x].max()))

Max of Population is 328.2
Max of Population1 is 5328.2

In [ ]:
#loop through data frame and print the max and min if column is not object
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3],'GDP':[1100, 50, 12, 1.57, 1100,3, 79]})
for x in data.columns:
  if data[x].dtype != 'object':
    print("Max "+ x +" is " + str(data[x].max()))
    print("Min "+ x +" is " + str(data[x].min()))

Max Population is 328.2
Min Population is 37.6
Max GDP is 1100.0
Min GDP is 1.57

In [ ]:
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
#Delete all rows with NaN anywhere
data.dropna(inplace=True)
data

   Country Speak English?  Population
0      USA            Yes       328.2
1   Canada            Yes        37.6
2    Italy             No        60.4
3  Germany             No        83.0
4      USA            Yes       328.2

In [ ]:
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
#Delete NaN rows in specific Columns by name
data.dropna(subset=['Country', 'Population'],inplace=True)
data

   Country Speak English?  Population
0      USA            Yes       328.2
1   Canada            Yes        37.6
2    Italy             No        60.4
3  Germany             No        83.0
4      USA            Yes       328.2

In [ ]:
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
#Delete NaN rows in specific Column index range
data.dropna(subset=list(data.columns[0:3]),inplace=True)
data

   Country Speak English?  Population
0      USA            Yes       328.2
1   Canada            Yes        37.6
2    Italy             No        60.4
3  Germany             No        83.0
4      USA            Yes       328.2

In [ ]:
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
#Delete NaN rows in specific Column index (single index)
data.dropna(subset=list([data.columns[2]]),inplace=True)
data

   Country Speak English?  Population
0      USA            Yes       328.2
1   Canada            Yes        37.6
2    Italy             No        60.4
3  Germany             No        83.0
4      USA            Yes       328.2
6     None             No        65.3

In [ ]:
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
#Delete Columns if it has NaN 
data.dropna(axis=1,inplace=True)
data

  Speak English?
0            Yes
1            Yes
2             No
3             No
4            Yes
5            Yes
6             No

In [ ]:
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':[None, 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
#Count rows with any blanks, all columns
data.isnull().any(axis=1).sum()

3

In [ ]:
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':[None, 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
#Count rows with any blanks, by columns
data.isnull().sum()

Country           1
Speak English?    1
Population        1
dtype: int64

In [ ]:
#update Nan with mean directly in data frame
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':[None, 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,np.NaN, 65.3]})
data['Population'].fillna(value=data['Population'].mean(), inplace=True)
data

   Country Speak English?  Population
0      USA           None      328.20
1   Canada            Yes       37.60
2    Italy             No       60.40
3  Germany             No       83.00
4      USA            Yes      328.20
5  England            Yes      150.45
6     None             No       65.30

In [ ]:
#update Nan with mean, converting to array
from sklearn.impute import SimpleImputer
#create array from dataframe by adding 'values' to the end
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':[None, 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,np.NaN, 65.3]}).values
#create simple imputer with parameters
imputer = SimpleImputer(missing_values=np.nan, strategy ='mean')
#update
data[:,2:3]= imputer.fit_transform(data[:,2:3])
data

array([['USA', None, 328.2],
       ['Canada', 'Yes', 37.6],
       ['Italy', 'No', 60.4],
       ['Germany', 'No', 83.0],
       ['USA', 'Yes', 328.2],
       ['England', 'Yes', 150.45],
       [None, 'No', 65.3]], dtype=object)

In [ ]:
#convert strings in numeric column as NaN
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,'a', 65.3]})
x='Population'
print(data[x].dtype)
print("Non numeric entries in column "+x+": " + str(sum(pd.to_numeric(data[x],errors='coerce').isna())))
data[x]=pd.to_numeric(data[x], errors='coerce')
#fill in specifc column by that columns mean
data[x].fillna(data[x].mean(), inplace=True)
print(data)

object
Non numeric entries in column Population: 1
   Country Speak English?  Population
0      USA            Yes      328.20
1   Canada            Yes       37.60
2    Italy             No       60.40
3  Germany             No       83.00
4      USA            Yes      328.20
5  England            Yes      150.45
6     None             No       65.30

In [ ]:
#convert strings in numeric column as NaN
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':[None, 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3], 'GDP':[1100, 50, None, 1.57, 1100,3, 79]})
#fill all blanks with columns mean
data.fillna(data.mean(), inplace=True)
print(data)

   Country Speak English?  Population          GDP
0      USA           None      328.20  1100.000000
1   Canada            Yes       37.60    50.000000
2    Italy             No       60.40   388.928333
3  Germany             No       83.00     1.570000
4      USA            Yes      328.20  1100.000000
5  England            Yes      150.45     3.000000
6     None             No       65.30    79.000000

In [ ]:
#One Hot Encode Country
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse=False)
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England','Spain'],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
a=pd.DataFrame(ohe.fit_transform(data[['Country']]))
data=data.join(a)
#dont forget to drop country!
data.drop(['Country'], axis=1, inplace=True)

  Speak English?  Population    0    1    2    3    4    5
0            Yes       328.2  0.0  0.0  0.0  0.0  0.0  1.0
1            Yes        37.6  1.0  0.0  0.0  0.0  0.0  0.0
2             No        60.4  0.0  0.0  0.0  1.0  0.0  0.0
3             No        83.0  0.0  0.0  1.0  0.0  0.0  0.0
4            Yes       328.2  0.0  0.0  0.0  0.0  0.0  1.0
5            Yes         NaN  0.0  1.0  0.0  0.0  0.0  0.0
6             No        65.3  0.0  0.0  0.0  0.0  1.0  0.0

In [ ]:
#one hot encode alternate
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England','Spain'],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
a=pd.get_dummies(data['Country'], prefix='Country')
data=pd.concat([a,data], axis=1)
#dont forget to drop Country!
data.drop(['Country'], axis=1, inplace=True)

  Speak English?  Population  ...  Country_Spain  Country_USA
0            Yes       328.2  ...              0            1
1            Yes        37.6  ...              0            0
2             No        60.4  ...              0            0
3             No        83.0  ...              0            0
4            Yes       328.2  ...              0            1
5            Yes         NaN  ...              0            0
6             No        65.3  ...              1            0

[7 rows x 8 columns]

In [ ]:
#label encode english
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
data["Speak English?"] = data["Speak English?"].astype('category')
data["Speak English?"] = data["Speak English?"].cat.codes
data

   Country  Speak English?  Population
0      USA               1       328.2
1   Canada               1        37.6
2    Italy               0        60.4
3  Germany               0        83.0
4      USA               1       328.2
5  England               1         NaN
6     None               0        65.3

In [ ]:
#label encode english with sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
data['Speak English?']=le.fit_transform(data['Speak English?'])
data

   Country  Speak English?  Population
0      USA               1       328.2
1   Canada               1        37.6
2    Italy               0        60.4
3  Germany               0        83.0
4      USA               1       328.2
5  England               1         NaN
6     None               0        65.3

In [ ]:
#get unique values
data = pd.DataFrame({'Country':['USA', 'Canada', 'Italy', 'Germany', 'USA','England',None],
        'Speak English?':['Yes', 'Yes', 'No', 'No','Yes','Yes', 'No'], 'Population':[328.2, 37.6, 60.4, 83.0, 328.2,None, 65.3]})
#list of unqie values
print(pd.unique(data['Country']))
#number of unique values
print("Count of unique values: " + str(len(pd.unique(data['Country']))))

['USA' 'Canada' 'Italy' 'Germany' 'England' None]
Count of unique values: 6